# SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: CC0-1.0

# version control systems directories
**/.git

# 3rdparty dependencies
**/node_modules

# Compiled JS output
dist/

# other misc stuff
coverage/
